a.a-link{
    text-decoration: none;
    color: #1EA8DF;
    font-weight: 600;
}

.authentication .btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}


